span{
    color: red;
}
.todo{
    width: 20%;
    box-sizing: border-box;
    background-color: lightskyblue;
    padding: .5em;
    margin: 1em;
    border-radius: .5em;
    cursor: pointer;
}
h3{
    margin-left: .5em;
}
.todo{
    color: red;
}
.todo h3{
    margin: 0px;
}
.todo p{
    margin: 0px;
}
.completed{
    background-color: lightgray;
    opacity: 50%;
    text-decoration: line-through;
}
#completed-items, 
#incomplete-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}